<%if @drugs && @drugs.size>0%>
<table class="data">
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Current Stock</th>
    <th></th>
  </tr>

<% @drugs.each do |drug| %>
  <%unless drug.type.eql?("Test")%>
  <tr>
    <td><%= link_to drug.name,drug %></td>
    <td><%= drug.price %></td>
    <td><%= drug.quantity %></td>
    <td><%= link_to "Stock Update",new_stockretake_path("stid"=>drug.id) %></td>
  </tr>
  <%end%>
<% end %>
</table>
<%else%>
<div class="norecords">No records</div>
<%end%>
<%= link_to 'New Drug', new_drug_path,:class=>"button" %>
