<div id="input_form">
    <fieldset>
      <legend>New item</legend>
      <table class="inline">
        <%= form_for(Treatment.new,:html=>{:class=>"ajaxForm"}) do |f| %>
        <tr class="field">
          <td><%= f.label :item %></td>
          <td><%=f.select(:payable_id, Payable.all.collect {|t| [ t.name, t.id ] }, {:prompt => 'Select'})%></td>
          <td><%= f.label :take %></td>
          <td><%=f.text_field :number_per_intake,:size=>2%></td>
          <td><%= f.label :times %></td>
          <td><%=f.text_field :number_per_day,:size=>2%></td>
          <td><%= f.label :for %></td>
          <td><%=f.text_field :number_of_days,:size=>2%></td>
          <td><%= f.label :days %></td>
          <td><%= f.submit("Prescribe")%></td>
        </tr>
        <tr class="field">
          <td><%= f.hidden_field :patient_id,:value=>@current_patient.id.to_s %></td>
          <td><%= f.hidden_field :encounter_id,:value=>@current_encounter.to_s %></td>
          <td><%= f.hidden_field :treated_by,:value=>@current_user.id.to_s %></td>
        </tr>
        <%end%>
    </table>
  </fieldset>
</div>