<div>
    <fieldset>
      <legend>New item</legend>
      <table class="inline">
        <%= form_tag('/treatments',:remote => true,:html=>{:class=>"ajaxForm"}) %>
        <tr class="field">
          <td><%= label_tag :item %></td>
          <td><%=select( "treatment",:payable_id, Payable.all.collect {|t| [ t.name, t.id ] }, {:prompt => 'Select'})%></td>
          <td><%= label_tag :take %></td>
          <td><%=text_field_tag :number_per_intake,'',:size=>2%></td>
          <td><%= label_tag :times %></td>
          <td><%=text_field_tag :number_per_day,'',:size=>2%></td>
          <td><%= label_tag :for %></td>
          <td><%=text_field_tag :number_of_days,'',:size=>2%></td>
          <td><%= label_tag :days %></td>
          <td><%= submit_tag("Add")%></td>
        </tr>
        <tr class="field">
          <td><%= hidden_field_tag :patient_id,:value=>@current_patient.id.to_s %></td>
        </tr>
    </table>
  </fieldset>
</div>