<div id="newItem">
<%= form_for(Particular.new,:remote=>true,:url=>"/particulars") do |f| %>
  <fieldset>
    <legend>New item</legend>
    <table>
      <tr class="field">
        <td><%= f.hidden_field :payment_id %></td>
      </tr>
      <tr class="field">
        <td><%= f.label :item %></td>
        <td><%=select(:particular, :payable_id, Payable.all.collect {|t| [ t.name, t.id ] }, {:prompt => 'Select Item'})%></td>
        <td><%= f.label :quantity %></td>
        <td><%=f.text_field :quantity,:id=>"quantity"%></td>
        <td><%= f.submit "add",:class=>"button",:id=>"create"%></td>
      </tr>
      <tr class="field">
        <td><%= f.hidden_field :user_id %></td>
      </tr>
    <% end %>
  </table>
</fieldset>
</div>