<div id="records">
<p>
  <b>Test:</b>
  <%=  performedtest.name %>
</p>

<p>
  <b>Description:</b>
  <%= performedtest.description %>
</p>

<p>
  <b>Price:</b>
  <%= performedtest.price %>
</p>
<p>
  <b>Results:</b>
  <%if performedtest.results%>
  <%= performedtest.results %>
  <%else%>
  .<b><%= link_to "No results",:controller=>"performedtests",:action=>"edit"%></b>
  <%end%>
</p>
<p>
  <b>Comments:</b>
  <%if performedtest.comments%>
  <%= performedtest.comments %>
  <%else%>
  .<b>No comments</b>
  <%end%>
</p>
</div>