<%if @billing_plans%>
<%if @billing_plans.size>0%>
<table>
  <tr>
    <th>Name</th>
  </tr>

<% @billing_plans.each do |billing_plan| %>
  <tr>
    <td><%= link_to billing_plan.name,billing_plan %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @billing_plans %>
<%else%>
<div class="norecords">No records yet</div>
<%end%>
<%= link_to 'New Billing plan', new_billing_plan_path,:class=>"button" %>
<%  elsif @claims.size>0%>
<div>
<table class="data">
  <th>Amount paid</th>
  <th>Expected amount</th>
  <th>Insurer</th>
<%= render :partial=>'claims',:collection=>@claims,:as=>:payment,:spacer=>'' %>
  </table>
</div>
<%= will_paginate @claims %>
<%end%>