<%= form_for(@person) do |f| %>
<fieldset>
    <legend>New Person</legend>
    <table>

  <% if @person.errors.any? %>
    <!--<div id="error_explanation">-->
      <tr>
        <td><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:

      <ul>
        <% @person.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
          </td>
    </tr>
  <% end %>
    <tr>
  <!--<div class="field">-->
    <td><%= f.label :first_name %></td>
    <td><%= f.text_field :first_name %></td>
  </tr>
  <tr>
  <!--<div class="field">-->
    <td><%= f.label :given_name %></td>
    <td><%= f.text_field :given_name %></td>
  </tr>
  <tr>
    <td><%= f.label :surname %></td>
    <td><%= f.text_field :surname %></td>
  </tr>
  <tr>
    <td><%= f.label :gender %></td>
    <td><%= f.select(:gender, options_for_select([['Male', 'male'], ['Female', 'female']])) %></td>
  </tr>
  <tr>
    <td><%= f.label :address %></td>
    <td><%= f.text_field :address %></td>
  </tr>
  <tr>
    <td><%= f.label :phone_number %></td>
    <td><%= f.text_field :phone_number %></td>
  </tr>
  <tr>
    <td><%= f.label :alt_phone_number %></td>
    <td><%= f.text_field :alt_phone_number %></td>
  </tr>
  <tr>
    <td><%= f.label :birth_date %></td>
    <td><%= f.date_select :birth_date %></td>
  </tr>
  <tr>
    <td><%= f.label :birth_date_estimate %></td>
    <td><%= f.text_field :birth_date_estimate %></td>
  </tr>
  <tr>
    <td><%= f.hidden_field :created_by,:value=>@current_user.id.to_i %></td>
  </tr>
  <tr>
    <td><%= label_tag(:alive, "Is alive") %></td>
    <td><%= f.check_box(:alive) %></td>
  </tr>

  <tr>
    <td><%= f.submit %></td>
    <td><%= link_to 'Back', people_path,:class=>"button" %></td>
  </tr>
<% end %>
    </table>
</fieldset>
