<%if @patients.size>0%>
<table class="data">
  <tr>

    <th>Names</th>
    <th>Gender</th>
    <th>Address</th>
    <th>Phone number</th>
  </tr>

<% @patients.each do |patient| %>
  <tr>
    <%name1=patient.surname.concat(" ").concat(patient.first_name) unless patient.given_name.nil?%>
    <%names =name1.concat(" ").concat(patient.given_name) unless patient.given_name.nil?%>
    <td><%= link_to names,patient %></td>
    <td><%= patient.gender %></td>
    <td><%= patient.address %></td>
    <td><%= patient.phone_number %></td>
  </tr>
<% end %>
</table>
<%else%>
<div><p class="notice">No records found.</p></div>
<%end%>
<%= link_to 'New Patient', new_patient_path ,:class=>"button" %>
