<div id="usersadmin" class="adminoptions">
<%=link_to "Users",users_path%><br/>
</div>
<div id="physiciansadmin" class="adminoptions">
  <%=link_to 'New Physician',new_user_path%><br/>
</div>
<div id="Labsadmin" class="adminoptions">
  <%=link_to 'New Lab technologist/technician',new_user_path%><br/>
  <%=link_to 'New Lab reagent'%><br/>
  <%=link_to ' Tests',tests_path%><br/>
  <%=link_to 'New Lab test',new_test_path%><br/>
  <%=link_to 'New Lab equipment'%><br/>
</div>
<div id="plansadmin" class="adminoptions">
  <%=link_to 'NHIF',nhifs_path%><br/>
  <%=link_to 'New NHIF Disbursement',new_disbursednhif_path%><br/>
<%=link_to 'Billing Plans',billing_plans_path%><br/>
<%=link_to 'Families Billing Plan',families_path%><br/>
</div>
<div id="rolesadmin" class="adminoptions">
<%=link_to 'Roles'%><br/>
<%=link_to 'New role'%><br/>
</div>
<div id="priviledgesadmin" class="adminoptions">
<%=link_to 'Priviledges'%><br/>
<%=link_to 'New Priviledge'%><br/>
</div>
<div id="pharmacyadmin" class="adminoptions">
  <%=link_to 'Drugs'%><br/>
  <%=link_to 'New Drugs',new_drug_path%><br/>
</div>