<%if @patients.size>0%>
<table class="data">
  <tr>

    <th>Names</th>
    <th>Gender</th>
    <th>Address</th>
    <th>Phone number</th>
  </tr>

<% @patients.each do |patient| %>
  <tr>
    <td><%= link_to full_names(patient),patient %></td>
    <td><%= patient.gender %></td>
    <td><%= patient.address %></td>
    <td><%= patient.phone_number %></td>
  </tr>
<% end %>
</table>
<%else%>
No records found.
<%end%>
<%= link_to 'New Patient', new_patient_path ,:class=>"button" %>
