<div class="item">
  <div class="particulars_left">
    <%=particular.name%>
  </div>
  <div class ="particulars_center">
    <%if particular.quantity.nil?%>
    <b><%=1%></b><span> * <%=particular.price%>
      <%else%>
        <%=particular.quantity%><span> * <%=particular.price%>
        <%end%>
        </div>
        <div class="particulars_right">
          <%if particular.quantity.nil?%>
            <%=particular.price * 1%><span class="error">(Assumed Quantity is 1)</red></span>
          <%else%>
            <%=particular.price * particular.quantity%>
          <%end%>
        </div>
        </div>
<% Rails.logger.debug{particular.inspect} %>