<%if @payments.size>0%>
<table class="data">
  <tr>
    <th>Amount</th>
    <th>Received by</th>
    <th>Expected amount</th>
    <th>Payment method</th>
  </tr>

<% @payments.each do |payment| %>
  <tr>
    <td><%= link_to payment.amount,payment_path(payment.payment_id) %></td>
    <td><%= link_to payment.username,user_path(payment.user_id) %></td>
    <td><%= payment.expeccted_amount %></td>
    <td><%= payment.payment_method %></td>
  </tr>
<% end %>
</table>
<%end%>
<%= will_paginate @payments %>
<%if @current_encounter%>
<%= link_to 'New Payment', new_encounter_payment_path,:class=>"button" %>
<%else%>
<%= link_to 'New Payment', new_payment_path,:class=>"button" %>
<%end%>