<% if @appointments && @appointments.size>0 %>
<table class="data">
  <tr>
    <th>Subject matter</th>
    <th>Patient</th>
    <th>App date</th>
    <th>Physician</th>
  </tr>

  <% @appointments.each do |appointment| %>
    <tr>
      <td><%= link_to appointment.subject_matter,appointment %></td>
      <td><%= appointment.patient_id %></td>
      <td><%= appointment.app_date %></td>
      <td><%= appointment.physician_id %></td>
      <td><%= appointment.set_by %></td>
    </tr>
  <% end %>
</table>
<%else%>
<div class="norecords">No records</div>
<%end%>
<%= link_to 'New Appointment', new_appointment_path,:class=>"button" %>
