<table class="data">
  <tr>
    <th>Name</th>
    <th>Start date</th>
    <th>End date</th>
    <th>Amount</th>
    <th>Created by</th>
      </tr>

<% @disbursednhifs.each do |disbursednhif| %>
  <tr>
    <td><%= link_to disbursednhif.name, disbursednhif %></td>
    <td><%= disbursednhif.start_date.to_date %></td>
    <td><%= disbursednhif.end_date.to_date %></td>
    <td><%= disbursednhif.amount %></td>
    <td><%= disbursednhif.created_by %></td>
    
  </tr>
<% end %>
</table>
<br />
<%= link_to 'New NHIF disbursement', new_disbursednhif_path,:class=>"button" %>
