<%=form_tag%>
<fieldset>
    <legend>New Encounter report</legend>
    <table>

      <%=render :partial=>'encounter_filter'%>
      <%=render :partial=>'diagnosis_filter'%>
      <%=render :partial=>'treatment_filter'%>
      <%=render :partial=>'date_fields'%>
      <tr>
        <td><%=hidden_field_tag :model,:value=>params[:model]%></td>
        <td><%=submit_tag :submit%></td></tr>
    </table>
</fieldset>