<%=form_tag%>
<fieldset>
  <legend>New Patient report</legend>
  <table>
    <%=render :partial=>'patient_filter'%>
    <%=render :partial=>'date_fields'%>
    <tr>
      <td><%=hidden_field_tag :model,:value=>params[:model]%></td>
      <td><%=submit_tag :submit%></td></tr>
  </table>
</fieldset>