<div id="patientsreports" class="reportsoptions">
  <!--<%#=link_to 'Ruport',:controller=>"reports",:action=>"report_view"%><br/>-->
  <%=link_to 'All Patients',:controller=>"reports",:action=>"patients"%><br/>
  <%=link_to 'Male Patients',:controller=>"reports",:action=>"patients",:query=>"male"%><br/>
  <%=link_to 'Female Patients',:controller=>"reports",:action=>"patients",:query=>"female"%><br/>
  <%=link_to 'Dead Patients',:controller=>"reports",:action=>"patients",:query=>"dead"%><br/>
  <%=link_to 'Under five Patients',:controller=>"reports",:action=>"patients",:query=>"age"%><br/>
  <%=link_to 'Custom Patients report',:controller=>"reports",:action=>"patients",:query=>"custom"%><br/>
  <%=link_to 'Export to CSV',:controller=>"reports",:action=>"csv",:query=>"patients"%><br/>
</div>
<div id="encountersreports" class="reportsoptions">
  <%=link_to 'Daily Encounters report',:controller=>"reports",:action=>"encounters",:query=>"daily"%><br/>
  <%=link_to 'Custom Encounters report',:controller=>"reports",:action=>"encounters",:query=>"custom"%><br/>
  <%=link_to 'Export to CSV',:controller=>"reports",:action=>"csv",:query=>"encounters"%><br/>
</div>
<div id="diagnosesreports"class="reportsoptions">
  <%=link_to 'Daily Diagnoses',:controller=>"reports",:action=>"diagnoses",:query=>"daily"%><br/>
  <%=link_to 'Custom Diagnoses',:controller=>"reports",:action=>"diagnoses",:query=>"custom"%><br/>
  <%=link_to 'Export to CSV',:controller=>"reports",:action=>"csv",:query=>"diagnoses"%><br/>
</div>
<div id="treatmentsreports" class="reportsoptions">
  <%=link_to 'Daily treatment report',:controller=>"reports",:action=>"treatments",:query=>"daily"%><br/>
  <%=link_to 'Custom treatments report',:controller=>"reports",:action=>"treatments",:query=>"custom"%><br/>
  <%=link_to 'Export to CSV',:controller=>"reports",:action=>"csv",:query=>"treatments"%><br/>
</div>
<div id="Usersreports"class="reportsoptions">
  <%=link_to 'All Users',"#"%><br/>
  <%=link_to 'Custom User reports',"#" %><br/>
  <%=link_to 'Export to CSV',:controller=>"reports",:action=>"csv",:query=>"users"%><br/>
</div>
<div id="nhifreports"class="reportsoptions">
  <%=link_to 'All NHIF Payments',:controller=>"nhifs",:action=>"index",:full=>"1"%><br/>
  <%=link_to 'NHIF Disbursements',:controller=>"disbursednhifs",:action=>"index"%><br/>
  <%=link_to 'Daily NHIF Payments',:controller=>"reports",:action=>"nhif",:query=>"daily"%><br/>
  <%=link_to 'Custom NHIF Payments report',:controller=>"reports",:action=>"nhif",:query=>"custom"%><br/>
  <%=link_to 'Export Daily NHIF to CSV',:controller=>"reports",:action=>"nhif",:query=>"dailynhif"%><br/>
  <%=link_to 'Export to CSV',:controller=>"reports",:action=>"csv",:query=>"allnhif"%><br/>
</div>
<div id="paymentsreports"class="reportsoptions">
  <%=link_to 'Daily Payments',:controller=>"reports",:action=>"payments",:query=>"daily"%><br/>
  <%=link_to 'Custom Payments report',:controller=>"reports",:action=>"payments",:query=>"custom"%><br/>
  <%=link_to 'Export to CSV',:controller=>"reports",:action=>"csv",:query=>"payments"%><br/>
</div>
<div id="pharmacyreports"class="reportsoptions">
  <%=link_to 'All Drugs','#'%><br/>
  <%=link_to 'Custom drug reports','#'%><br/>
  <%=link_to 'Export to CSV',:controller=>"reports",:action=>"csv",:query=>"pharmacy"%><br/>
</div>
<div id="adhocreports"class="reportsoptions">
  <%=link_to 'Custom reports','#'%><br/>
</div>