<!DOCTYPE html>
<html>
  <head>
    <title>ICMCMIS</title>
    <%= stylesheet_link_tag "style" %>
    <%= javascript_include_tag 'jquery','application' %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="header" class="widget">
      <%= image_tag "plus.png" %> <h3>ISIOLO CENTRAL MEDICAL CLINIC INFORMATION MANAGEMENT SYSTEM</h3>
    </div>
    <%if @current_user%>
      <%= render :partial=> 'layouts/actiontabs' %>
      <%= render :partial=> 'layouts/logout_link' %>
    <%end%>
    <%= render :partial=> 'layouts/notifications' %>
    <%if @patientactions && @current_patient%>
      <%= render :partial=> 'layouts/patientsactions' %>
    <%elsif @pharmacy%>
    <%= render :partial=> 'layouts/pharmacy_actions' %>
    <%elsif @current_encounter%>
      <%= render :partial=> 'layouts/encounter_actions' %>
    <%end%>
    <div id="pageBody">
      <%= yield %>
    </div>
  </div>
  <div id="footer">
    <div class="footer">&copy;<%=DateTime.now.year.to_s%> Isiolo Central Medical Clinic</div>
  </div>
</body>
</html>
