<!DOCTYPE html>
<html>
  <head>
    <title>ICMCMIS</title>
    <%= stylesheet_link_tag 'style','jquery-ui-1.8.18.custom' %>
    <%= javascript_include_tag 'jquery','application','jquery-ui-1.8.18.custom.min'%>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="header" class="widget">
      <%= image_tag "plus.png" %> <h3>ISIOLO CENTRAL MEDICAL CLINIC INFORMATION MANAGEMENT SYSTEM</h3>
    </div>
    <%if @current_user%>
      <%= render :partial=> 'layouts/actiontabs' %>
    <%end%>
    <%= render :partial=> 'layouts/notifications' %>
    <%if @patientactions && @current_patient%>
      <%= render :partial=> 'layouts/patient_banner' %>
      <%= render :partial=> 'layouts/patientsactions' %>
    <%elsif @pharmacy%>
      <%= render :partial=> 'layouts/pharmacy_actions' %>
    <%elsif @current_encounter%>
      <%= render :partial=> 'layouts/encounter_actions' %>
    <%elsif @current_plan%>
      <%= render :partial=> 'layouts/billing_plans_action' %>
    <%end%>
    <div id="pageBody">
      <%= yield %>
    </div>
  </div>
  <div id="footer">
    <div class="footer">&copy;<%=DateTime.now.year.to_s%> Isiolo Central Medical Clinic<div>Powered by e-consult-systems</div></div>
  </div>
</body>
</html>
